			body{
				background: transparent;
				text-align: center;
				font-family: Helvetica,Arial,sans-serif;
			}

			header{
				padding-top: 50px;
			}
			footer{
				padding-top:40px;
				height:200px;
			}

			section{
				padding-bottom: 50px;
				padding-top: 30px;
				min-height:300px;
			}
			h1{
				font-size: 1em;
				line-height:1;
				color: #fff;
			}

			.head{
				font-size: 6em;
				line-height:1;
				color: #fff;
				margin-bottom:30px;
			}

			a{
				color:#fff;
			}	
			a:hover{
				color:#fcfcfc;
			}
			span{
				color:#fff;
			}
			
			.btn-outline-inverse{
				color: #563d7c;
					background-color: transparent;
					border-color: #563d7c;
					margin-bottom:2em;
			}
		
			.btn-outline-inverse:hover{
					color: #fff;
					background-color: transparent;
					border-color: #cdbfe3;
			}
			
			ul{
				list-style:none;
				padding-left:0px;
			}
			ul li{
				list-style:none;
				display:inline;
			}
			li{
				padding-left:10px;
			}
			
			#tweet{
				background-color: #00aced;
				padding:.4em;
				text-decoration:none;
			}
			
